.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
   
}
section{
    
}
.wrapper {
    position: absolute;
    top: 25%;
    right: 90deg;

    // display: flex;
    // align-items: center;
    // justify-content: center;
}


.box {

    display: flex;
    flex-direction: column;
    margin-left: 80px;

}

.box__logo {
    display: flex;

    // flex-direction: column;
    max-width: 300px;
    gap: 20px;
    margin-bottom: 20px;
    text-align: center;
    align-items: start;

    h1 {
        color: white;
        width: max-content;
        font-size: 30px;
    }
    Span {
        font-style: italic;
        font-weight: 800;
        font-size: 50px;
    }

}

.logo {
    width: 100px;

}


.map {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        color: white;
        font-size: 20px;


    }

    margin-bottom: 30px;
}

.btn {

    width: max-content;
    padding: 10px 45px;
    color: gray;
    background-color: white;
    border-radius: 10px;
    transition: 1s;
    border: none;
}

// @keyframes anim-robot {
//     0% {
//         background-image: url();
//     }
//     100% {
//         background-image: url();
//     }
// }